body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 
  color: rgb(236, 120, 11);

/* 
color de fondo */

  font-size: 1.2rem; /*tamaño de las letras*/
  line-height: 1.6em; /* interlineado */
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

/* parrafos */
p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  background: #161B22;
  color: white;
  padding: 2rem 0;

  /* hacer el menu fijo */
  position: fixed;
  left: 0;
  top: 0;
  /* ocuapamos todo el ancho */
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {

  display: flex;
  justify-content: space-between;
  /* lo alineamos al centro */
  align-items: center;

  flex-wrap: wrap;
}

/* logo */
.logo {

  letter-spacing: 15px;
  font-size: 1.3em;
}

.menu-icon {
  display: none;
}

/* todos los "ul" que esten dentro de "navigation" */
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  /* uno al lado del otro */
  display: inline-block;
}

/* los enlaces dentro del menu */
.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background: #cc4444;
}

.main {
  padding-top: 10rem;
}

/*PIE DE PAGINA*/
.footer {
  background:#161B22;
  padding: 4rem 0;
  text-align: center;
  margin-top: 6rem;
}


.menu-link{
    color: black;
}

.fb{
    color: blue;
}
/* REPONSIVE */
/* todas las caracteristicas que se mostraran a continuancion seran cuando tenga un ancho maximo de 767px */

@media only screen and (max-width: 767px) {
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
      
    .navigation ul li {
        display: block;
      }
      
      /* los enlaces dentro del menu */
      .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
      }
      
      .navigation ul li a:hover {
        background: #cc4444;
      }
}

/* container */
.cont{
  width: 85%;
  max-width:  850px;
  margin: 0 auto;
}
.item{
  margin: 1em;
  padding: 3em;
  background-color:#161B22;
  float: left;
}
<<<<<<< HEAD



/* nav */
.navig ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}



/* los enlaces dentro del menu */
.navig ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navig ul li a:hover {
  background: #cc4444;
}


/* navig */
.navig ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* los enlaces dentro del menu */
.navig ul li a {
  /* display: block; */
  padding: 10rem 2rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navig ul li a:hover {
  background: #cc4444;
}


=======
>>>>>>> 5db8bef39de195b36f7f2a1c47d9fed2ea29e7da
